<div class='new_price'>
  <div class="form_rate">
    <%= form_for Price.new, html: {class: "form-inline", role: "form"} do |f| %>
      <div class="form-group">
        <%= f.label :value, class: "col-sm-3 sr-only" %>
        <div class="col-sm-9">
          Valor: <%= f.text_field :value, class: "form-control" %>
        </div> <!-- end col-sm-9 -->
      </div> <!-- end form-group -->
      <%= f.hidden_field :food_id, :value => food.id %>
      <%= f.hidden_field :establishment_id, :value => establishment.id %>
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
          <%= f.submit "Cadastrar", class: "btn btn-default" %>
        </div> <!-- end col-sm-offset-3 col-sm-9 -->
      </div> <!-- end form-group -->
    <% end %> <!-- end form_for -->
  </div>
</div>