<%= form_for(@rate) do |f| %>
  <% if @rate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rate.errors.count, "error") %> prohibited this rate from being saved:</h2>

      <ul>
      <% @rate.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :value %><br>
    <%= f.number_field :value %>
  </div>
  <div class="field">
    <%= f.label :rateable_id %><br>
    <%= f.number_field :rateable_id %>
  </div>
  <div class="field">
    <%= f.label :rateable_type %><br>
    <%= f.text_field :rateable_type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
