<div class="panel panel-default">
  <div class="panel-heading">
    <%= action_title @establishment.name %>
  </div> <!-- end panel-heading -->
  <div class="panel-body">
    <div class="row">
      <div class="col-md-2">
      </div> <!-- end col-md-2 -->
      <div class="col-md-10">
        <address>
          <strong><%= @establishment.name %></strong> - <%= link_to "Editar", edit_establishment_path(@establishment) %><br>
          <%= @establishment.description %><br>
          <%= @establishment.address %><br>
          CEP: <%= @establishment.zipcode %><br>
          Cidade: <%= @establishment.city %><br>
          Estado: <%= @establishment.state %>
        </address> <!--  end address -->
      </div> <!-- end col-md-10 -->
    </div> <!-- end row -->
  </div> <!-- end panel-body -->
</div> <!-- end panel panel-default -->

<div class="panel panel-default">
  <div class="panel-heading">
    <h2><small>Serviços:</small></h2>
  </div> <!-- end panel-heading -->
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
        <div class="list-group">
          <% @establishment.foods.each do |food| %>
            <%= link_to([food], :class => "list-group-item") do %>
              <h4 class="list-group-item-heading">
                <%= food.name %>
              </h4>
            <% end %> <!-- end link_to -->
          <% end %> <!-- end each -->
        </div> <!-- end list-group -->
      </div> <!-- end col-md-12 -->

      <div class="col-md-12">
        <%=  form_tag(food_add_establishment_path(@establishment)) do %>
          <%= select_tag(:food, options_from_collection_for_select(@establishment.unenrolled_foods, :id, :name)) %>
          <%= submit_tag "Adicionar" %>
        <% end %>
      </div> <!-- end col-md-12 -->
    </div> <!-- end row -->
  </div> <!-- end panel-body -->
</div> <!-- end panel panel-default -->

<p><%= link_to "Voltar", establishments_path %></p>