<%= label_tag :name %>
<p id="name"><%= @establishment.name %></p>
<%= label_tag :description %>
<p id="description"><%= @establishment.description %></p>
<%= label_tag :address %>
<p id="address"><%= @establishment.address %></p>
<%= label_tag :zipcode %>
<p id="zipcode"><%= @establishment.zipcode %></p>
<%= label_tag :city %>
<p id="city"><%= @establishment.city %></p>
<%= label_tag :state %>
<p id="state"><%= @establishment.state %></p>