<div class="panel panel-default">
  <div class="panel-heading">
    <%= action_title @establishment.name %>

    <% @establishment.categories.each do |category| %>
      <span class="label label-default">
        <%= category.name %>
      </span>
    <% end %> <!-- end each -->

    <%= form_tag(category_add_establishment_path(@establishment), class: "form-inline", role: "form") do %>
      <div class="form-group">
        <%= select_tag(:category, options_from_collection_for_select(@establishment.unenrolled_categories, :id, :name), :class => 'form-control') %>
      </div>
      <div class="form-group">
        <%= submit_tag "Adicionar", class: "btn btn-default" %>
      </div>
    <% end %>
  </div> <!-- end panel-heading -->
  <div class="panel-body">
    <div class="row">
      <div class="col-md-2">
      </div> <!-- end col-md-2 -->
      <div class="col-md-10">
        <address>
          <strong><%= @establishment.name %></strong> - <%= link_to "Editar", edit_establishment_path(@establishment) %><br>
          <%= @establishment.description %><br>
          <%= @establishment.address %><br>
          CEP: <%= @establishment.zipcode %><br>
          Cidade: <%= @establishment.city %><br>
          Estado: <%= @establishment.state %>
        </address> <!--  end address -->
      </div> <!-- end col-md-10 -->
    </div> <!-- end row -->
  </div> <!-- end panel-body -->
</div> <!-- end panel panel-default -->

<div class="panel panel-default">
  <div class="panel-heading">
    <h2><small>Serviços:</small></h2>
  </div> <!-- end panel-heading -->
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
        <div class="list-group">
          <% @establishment.foods.each do |food| %>
            <div class="list-group-item">
              <%= link_to([food]) do %>
                <h4 class="list-group-item-heading">
                  <%= food.name %>
                </h4>
              <% end %> <!-- end link_to -->

              <span class="label label-default">
                <% if food.prices.where(establishment_id: @establishment).count > 0 %>
                  R$ <%= food.prices.where(establishment_id: @establishment).last.value %>
                <% else %>
                  Sem preço definido
                <% end %>
              </span>

              <span class="label label-default">
                <% if food.rates.where(establishment_id: @establishment).count > 0 %>
                  Nota: <%= food.prices.where(establishment_id: @establishment).average(:value) %>
                <% else %>
                  Nota: Não avaliado
                <% end %>
              </span>

              <%= form_for @price, html: {class: "form-inline", role: "form"} do |f| %>
                <div class="form-group">
                  <%= f.label :value, class: "col-sm-3 sr-only" %>
                  <div class="col-sm-9">
                    <%= f.text_field :value, class: "form-control" %>
                  </div> <!-- end col-sm-9 -->
                </div> <!-- end form-group -->
                <%= f.hidden_field :food_id, :value => food.id %>
                <%= f.hidden_field :establishment_id, :value => @establishment.id %>
                <div class="form-group">
                  <div class="col-sm-offset-3 col-sm-9">
                    <%= f.submit "Cadastrar", class: "btn btn-default" %>
                  </div> <!-- end col-sm-offset-3 col-sm-9 -->
                </div> <!-- end form-group -->
              <% end %> <!-- end form_for -->

              <%= form_for @rate, html: {class: "form-inline", role: "form"} do |f| %>Avaliação: 
                <%= hidden_field :rateable_id, value: food.id %>
                <%= hidden_field :rateable_type, value: food.class %>
                <%= hidden_field :establishment_id, value: @establishment.id %>

                <%= radio_button_tag(:value, "1") %>
                <%= label_tag(:age_1, "1") %>
                <%= radio_button_tag(:value, "2") %>
                <%= label_tag(:age_1, "2") %>
                <%= radio_button_tag(:value, "3") %>
                <%= label_tag(:age_1, "3") %>
                <%= radio_button_tag(:value, "4") %>
                <%= label_tag(:age_1, "4") %>
                <%= radio_button_tag(:value, "5") %>
                <%= label_tag(:age_1, "5") %>

                <%= f.submit "Avaliar", class: "btn btn-default" %>
              <% end %> <!-- end form_for -->

            </div>
          <% end %> <!-- end each -->
        </div> <!-- end list-group -->
      </div> <!-- end col-md-12 -->

      <% if @establishment.unenrolled_foods.count > 0 %>
        <div class="col-md-6">
          <p>Adicione um prato aqui:</p>
          <%= form_tag(food_add_establishment_path(@establishment), class: "form-inline", role: "form") do %>
            <div class="form-group">
              <%= select_tag(:food, options_from_collection_for_select(@establishment.unenrolled_foods, :id, :name), :class => 'form-control') %>
            </div>
            <div class="form-group">
              <%= submit_tag "Adicionar", class: "btn btn-default" %>
            </div>
          <% end %>
        </div> <!-- end col-md-6 -->
      <%end%>

      <div class="col-md-6">
        <p>Cadastre um novo prato:</p>
        <%= form_for @food, html: {class: "form-inline", role: "form"}, remote: true do |f| %>
          <div class="form-group">
            <%= f.label :name, class: "col-sm-3 sr-only" %>
            <div class="col-sm-9">
              <%= f.text_field :name, class: "form-control" %>
            </div> <!-- end col-sm-9 -->
          </div> <!-- end form-group -->
          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
              <%= f.submit "Cadastrar", class: "btn btn-default" %>
            </div> <!-- end col-sm-offset-3 col-sm-9 -->
          </div> <!-- end form-group -->
        <% end %> <!-- end form_for -->
      </div> <!-- end col-md-6 -->
    </div> <!-- end row -->
  </div> <!-- end panel-body -->
</div> <!-- end panel panel-default -->

<p><%= link_to "Voltar", establishments_path %></p>