<!DOCTYPE html>
<html>
<head>
  <title>Fourk :: <%= content_for :title%></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-inverse navbar-fourk" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <h1>
        <%= link_to(establishments_path, class: "navbar-brand") do %>
          <%= image_tag "fourk_logo.png", alt: "fourk" %>
        <% end %>
      </h1> <!-- end h1 -->
    </div> <!-- end navbar-header -->

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse">
      <p class="navbar-text navbar-right">
        <% if current_user %>
          Welcome <strong><%= current_user.name %></strong>!
          <%= link_to "Sign out", signout_path, id: "sign_out" %>
        <% else %>
          <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
        <% end %>
      </p>
    </div> <!-- end collapse navbar-collapse -->
  </div> <!-- end container -->
</div> <!-- end navbar navbar-inverse navbar-fourk -->
    
<div class="container">
  <%= yield %>
</div>

<div class="navbar-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-3"><%= link_to "Política de Privacidade" %></div>
      <div class="col-sm-3"><%= link_to "Termos de Uso" %></div>
      <div class="col-sm-3"></div>
    </div>
  </div>
</div>

<div class="footer">
  <%= image_tag "fourk_logo.png", alt: "fourk" %>
</div>

</body>
</html>
